.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-bg {
  height: 300px;
  background-image: url('./background-g7405d2d68_640.jpg');
  background-size: cover;
  background-position: center;
}
